# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Logs
*.log

# Node
node_modules/

# Env
.env
.env.*

# Maven / Java
**/target/
**/*.class

# Docker volumes (HEEL BELANGRIJK)
openmrs-data/
db-data/

# Temp
tmp/
temp/
logs/